@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@100;300;400;700&display=swap');
/*--------------------------------------------------------------
# GENERAL
--------------------------------------------------------------*/
*   {
    padding: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
}

body{
  background: rgb(240, 240, 240);
}

strong{
  color:rgb(255, 70, 70);
}

.button{
  margin:auto;
  padding: 12px 20px;
  color: white;
  background-color: rgb(255, 70, 70);
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.header__icon{
display: flex;
margin: auto;
}

.header__icon:hover{
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

/*--------------------------------------------------------------
NAV - NO HICE YO LAS ANIMACIONES POR ESO LA NOMENCLATURA ES
DIFERENTE. ÚNICAMENTE ADAPTE UN PAR DE ESTILOS.
--------------------------------------------------------------*/
nav{
  position: fixed;
  justify-items: center;
  z-index: 1;
} 

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(255, 70, 70);; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 5rem;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: 'Bebas Neue', cursive;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: black;
}
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: relative;
  top: 0;
  right: 25px;
  font-size: 5rem;
  z-index: 1;
  margin-left: 25px;
}
/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color:rgb(255, 70, 70);;
  color: white;
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color:rgb(255, 70, 70);;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
  }

/*--------------------------------------------------------------
HOME
--------------------------------------------------------------*/
.header {
  background: url(../multimedia/home/1_banner.jpg) no-repeat;
  background-size: 100% ;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.header__subtitle {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  position: relative;
  font-size: 11vw;
  line-height: 9vw;
  opacity: 85%;
  margin: auto;
  z-index: 10;
}

.header__subtitle--firstspan { 
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  display: block;
  white-space: nowrap;
  margin-left: -83px;/* se le resta al title la cantidad de pixeles de las iconos de la botonera izquiera para centrar la palabra "lumpur" */
}

.header__subtitle--lastspan {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  margin-left: 15%;
}

/*Arquitecture*/
.arquitecture {
  height: 100vh;
  background: url(../multimedia/home/2_torre.jpg) no-repeat left center,
  url(../multimedia/home/3_mezquita.jpg) no-repeat right center;
  background-size: 30% 90% ,30%;
  display: flex;
}

.arquitecture__subtitle {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  position: relative;
  font-size: 11vw;
  line-height: 9vw;
  opacity: 85%;
  z-index: 10;
  margin-left: 25vw;
  margin-top: 20vh;
}

.arquitecture__subtitle--firstspan { 
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  display: block;
  white-space: nowrap;
}

.arquitecture__subtitle--lastspan {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  margin-left: 15%;
}

.arquitectureSection__description{
  text-align: left;
  margin-left: 37.5vw;
  width: 20%;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button.button__arquitecture{
  margin-left: 37.5vw;
}

/*Food*/
.food {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  gap: 2rem;
}

.food__subtitle{
  margin-left: -25rem;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  position: relative;
  font-size: 11vw;
  line-height: 9vw;
  opacity: 85%;
  margin-bottom: 2rem;
}

.food__subtitle--firstspan { 
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  display: block;
  white-space: nowrap;
}

.food__subtitle--lastspan {
  margin-left: 30%;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}

.food__text {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  position: relative;
  font-size: 10.5vw;
  line-height: 9vw;
  opacity: 85%;
  color: transparent;
  -webkit-text-stroke: 1.5px black;
  margin-right: -15rem;
}

.food__text--firstspan{ 
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  display: block;
  white-space: nowrap;
  margin-left: 7%;
}

.food__text--lastspan {
  margin-left: 20%;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}

.food__image{
  transform: rotate(-7.5deg);
  margin-top: -10%;
  width: 35vw;
}

.button.button__food{
  margin-left:25%;
}
  
/*Rental*/

.rental {
  width: 100%;
  height: 100vh;
  background: url(../multimedia/home/5_hospedaje.jpg) no-repeat;
  background-size: 100% 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rental__container{
  display: flex;
} 

.rental__subtitle{
  margin-left: 25vw;
  margin-top: 10vw;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  position: relative;
  font-size: 11vw;
  line-height: 9vw;
  opacity: 85%;
}
  
.rental__subtitle--firstspan { 
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  display: block;
  white-space: nowrap;
}
  
.rental__subtitle--lastspan {
  margin-left: 50%;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}

.button.button__rental{ 
  margin-left: 5%;
  margin-top: 25%;
}

/*Rental 4 pictures buttons*/

.button__image {
  display: flex;
  justify-content: space-evenly; 
}

.buttonHover{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonHover:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.button__image--hover{
  filter: contrast(40%);
}

.button__image--span{
  color: whitesmoke;
  text-transform: none;
  font-family: 'Bebas Neue', cursive;
  position: absolute;
  margin: auto;
  font-size: 4rem;
}

/*Faqs*/

.faqs {
  height: 75vh;
  background: url(../multimedia/home/10_faq.jpg) no-repeat left top,
  url(../multimedia/home/11_faq.jpg) no-repeat right top,
  url(../multimedia/home/12_faq.jpg) no-repeat right bottom  ,
  url(../multimedia/home/13_faq.jpeg) no-repeat left bottom ;
  background-size: 25% 40% ,20% 40%, 25% 40%, 20% 35%;
  margin: 10%;
  display: flex;
}

.faqs__subtitle {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  position: relative;
  font-size: 11vw;
  line-height: 9vw;
  opacity: 85%;
  z-index: 10;
  margin-left: 12.5vw;
  margin-top: 20vh;
}

.faqs__subtitle--firstspan { 
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  display: block;
  white-space: nowrap;
}

.faqs__subtitle--lastspan {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  margin-left: 15%;
}

.button.button__faqs{
  float: right;
  margin-top: 2rem;
}
  
/*--------------------------------------------------------------
# ARQUITECTURA_ SETION REVISAR CLASES DEL FILTRO Y LAS CARDS
--------------------------------------------------------------*/
.headerArquitecture {
  background: url(../multimedia/arquitectura/1_banner.jpg) no-repeat;
  background-size: 100% ;
  height: 100vh;
  display: flex;
  align-items: center;
}

.headerArquitecture__subtitle {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  position: relative;
  font-size: 11vw;
  line-height: 9vw;
  opacity: 85%;
  z-index: 10;
  margin: auto;
}

.headerArquitecture__subtitle--firstspan { 
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  display: block;
  white-space: nowrap;
  margin-left: -83px;
}

.headerArquitecture__subtitle--lastspan {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  margin-left: 15%;
}

.arquitectureSection {
  height: 100vh;
  background: url(../multimedia/arquitectura/2_arq.jpg) no-repeat left center;
  background-size: 35% 75% ;
  display: flex;
}

.arquitectureSection__subtitle {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: 3vw;
  margin: auto;
  text-align: right;
  color:rgb(255, 70, 70);
}

.arquitectureSection__text--description {
  line-height: 2rem;
  font-size: 1.9vh;
  padding: 6.5% 9.5% 5% 6.5%;
}

/* Book filter dates options */

.booked{
  display: flex;
  justify-items:stretch;
}

.arquitectureFilter{
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 30vw;
  grid-template-rows: 1fr;
  justify-items:right;
  margin-right: 2rem;
}

.filter {
  display: flex;
}

.filter__box {
  display: block;
  position: relative;
  margin-left:auto;
  width: 100%;
  height: 95%;
  background-color: rgb(255, 70, 70);
  padding: 2rem;
}


.filter__box--title {
font-size: 1rem;
font-weight: 400;

}
.filter__title {
  font-family:'Poppins', sans-serif;
  padding: 0.5rem;
  background-color: white;
  text-align: center;
  display: flex;
}

.filter__date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__date--calendar {
  margin-top: 1.25rem;
  font-family:'Poppins', sans-serif;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  text-align: center;
}

/* Calendar*/
.calendar {
  display: flex;
	justify-content: left;
  font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	background: white;
  margin-top: 1rem;
  margin-bottom:1rem;
	padding: 0.5rem;
	align-items: center;
	gap: 1rem;
  
}

.calendar__yearContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 1rem;
	margin: 0.5rem;
  font-weight: bolder;
  font-size: 1rem;
}

.calendar__arrow {
	object-fit: contain;
	height: 90%;
}

.calendar__monthContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.calendar__month {
	color: rgb(255, 70, 70);
	font-size: 1rem;
}

.calendar__weekDayContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
  font-weight: bold;
}

.calendar__weekDay {
	font-size: 0.8rem;
	width: 100%;
	text-align: center;
}

.calendar__monthDayContainer {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 0.5rem;
	width: 100%;
}

.calendar__monthDay {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 0.5rem;
	height: 0.5rem;
	margin: 0.5rem;
}

.calendar__monthDay--first {
	grid-column-start: 3;
}

/* Checkbox Filter*/

.filte__checkboxes--checkbox {
  margin: 1rem 1rem 1rem 0rem;
  color: white;
}

.filter__checkboxes .checkbox {
  position: absolute;
  opacity: 0;
}
.filter__checkboxes .checkbox:hover + .label:before {
  background-color: transparent;
  margin-left: 0%;
}
.filter__checkboxes .checkbox:checked + .label:before {
  background: white;
  margin-left: 0%;
}
.filter__checkboxes .checkbox:disabled + .label {
  color:rgb(255, 70, 70);
  cursor: auto;
  margin-left: 0%;
}
.filter__checkboxes .checkbox:disabled + .label:before {
  box-shadow: none;
  background: none;
  margin-left: 0%;
}
.filter__checkboxes .checkbox:checked + .label:after {
  opacity: 1;
}
.filter__checkboxes .label {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-left: 0%;
}
.filter__checkboxes .label:before {
  content: "";
  margin-right: 10px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: none;
  border: white 1px solid;
  border-radius: 0px;
}

.filter__checkboxes .label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 12px;
  background:rgb(255, 70, 70);
  width: 2px;
  height: 2px;
  opacity: 0;
  box-shadow: 2px 0 0 rgb(255, 70, 70), 4px 0 0 rgb(255, 70, 70), 4px -2px 0 rgb(255, 70, 70), 4px -4px 0 rgb(255, 70, 70), 4px -6px 0 rgb(255, 70, 70), 4px -8px 0 rgb(255, 70, 70);
  transform: rotate(45deg);
}

/*Style Button Range*/

.inputDiv {
  width: 300px;
  display:block;
  margin: 2rem 0rem 2rem 0rem;
  color:white;
  position:relative;
}

input[type='range'] {
  display: inline-block;
  width: 100%;
}
  
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
  
input[type=range]::-webkit-slider-thumb {
  background-color: white;
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50%;
  margin-top: -9px;
}
  
input[type=range]::-webkit-slider-runnable-track {
  background-color: white;
  height: 3px;
}
  
/* Cards*/

.button.button__filter{
  margin-top: 30px;
}

.containerCards{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 60%;
  margin-top: 1rem; 
}

.containerCards__description{
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	overflow: hidden;
	margin: 1rem;
  margin-left: 0px;
	height: 350px;
	width: 80%;
}

.travelCard__body--title{
  font-size: 2rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: rgb(255, 70, 70);
  font-family: 'Bebas Neue', cursive;
  margin: auto;
}

.product__details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px 30px 0px 30px;
	height: 100%;
	float: left;
	width: 50%;
}

.hint__star {
	display: inline-block;
	color: grey;
	width: 50%;
  border-color: black;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.container .product__details > p {
	text-align: left;
  margin-top: 1.5rem;
}

.product__image {
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: left;
	width: 40%;
	display: inline-block;
}

.containerCards__description img {width: 100%;height: 100%;}

.placeCard__body--title {
  font-size: 2rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: black;
  font-family: 'Bebas Neue', cursive;
  padding-top: 1rem;
  margin-top: 1rem;
  display: block;
  margin-left: 80%;
}

/*--------------------------------------------------------------
# ARQUITECTURA_ SETION - CARROUSEL
--------------------------------------------------------------*/
.slideshow {
  width: 65%;
  margin:auto;
  margin-bottom: -10%;
}

.slideshow-container {
  position: relative;
  margin-top: -20%;
}

.slideshow__subtitle {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  position: relative;
  font-size: 11vw;
  line-height: 9vw;
  opacity: 85%;
  z-index: 10;
  margin-left: 10vw;
  margin-top: 20vh;
}

.slideshow__subtitle--firstspan { 
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  display: block;
  white-space: nowrap;
}

.slideshow__subtitle--lastspan {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  margin-left: 20vw;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  user-select: none;
}

/* Caption text */
h4.text {
  color: rgb(255, 70, 70);
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
  bottom: 15rem;
  padding-bottom: 0%;
}

.text {
  background-color: white;
  color: black;
  font-size: 1rem;
  position: relative;
  width: 100%;
  bottom: 15rem;
  text-align: center;
  opacity: 85%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.textopinion {
  background-color: white;
  color: black;
  font-size: 3rem;
  font-weight: 900;
  position: relative;
  width: 100%;
  bottom: 15rem;
  text-align: center;
  opacity: 85%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(255, 70, 70);
  color: white;
  opacity: 75%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*--------------------------------------------------------------
# FOOD_SECTION
--------------------------------------------------------------*/
/* header*/
.headerFood {
  background: url(../multimedia/gastronomia/1_header.jpg) no-repeat;
  background-size: 100% ;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* Featured flavours*/
.foodFeatured {
  height: 100vh;
  display: flex;
  margin: auto;
  align-items: center;
}

.header__subtitle.food__subtitle--aling{
  margin-left: 12vw;
}

.food__subtitle.food__subtitle--margin{
  margin-left: -30vw;
}

.foodFeatured__text {
  margin-left: 20vw;
  margin-right: 10vw;
  line-height: 2rem;
  font-size: 2vh;
}

.food__image.food__image--rotate{
  margin-left:-25%;
  display: flex;
}

/* Cards*/

.trends {
  margin-left: 1.5rem;
  font-size: 5rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: rgb(255, 70, 70);
  font-family: 'Bebas Neue', cursive;
}

.foodCardsSection{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.foodCards {
  display: flex;
  margin-bottom: 15vh;
  justify-content: center;
}

.foodCard {
  margin: 2rem;
  background-color: #fff;
  overflow: hidden;
  width: 20%;
}

.foodCard__image {
  width: 100%;
  object-fit: cover;
}

.foodCard__body{
  padding: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.foodCard__body--text {
  font-size: 1rem;
  margin: auto;
  padding-top: 1rem;
}

.foodCard__body--bold{
  font-size: 1.10rem;
  font-weight:600;
  font-style: italic;
}

.foodCard__body--title {
  font-size: 2rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: rgb(255, 70, 70);
  font-family: 'Bebas Neue', cursive;
  margin: auto;
}

.foodCard__body--price {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}

/* App section*/
.food__appDownload {
  margin-top: 2%;
  width: 50%;
}

.food__appImage{
  margin-top: -10%;
  width: 30vw;
}

/* Kind of restaurant*/
.food__text.food__text--margin{
  margin-top: -15vh;
  margin-left: 10vw;
  z-index:-1; /* se elige trabajar con este valor de z-index porque es el único de la sección y no genera fallas*/
}

.food__text--content{
  margin-left: 17.5vw;
  font-size: 1.25rem;
}

.food__app{
  display: flex;
  flex-direction: column;
  flex-wrap:nowrap ;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
  margin-top:1rem;
}

.restaurant{
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap; 
  width: 100vw;
}

.restaurant__option{
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant__option--img{
  margin: 1rem;
  filter: contrast(60%);
}

.restaurant__option--span{
  position: absolute;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: 7vw;
  margin: auto;
  color: #fff;
}
  

/*--------------------------------------------------------------
# ERROR 404
--------------------------------------------------------------*/
.error404{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
}

.error404__subtitle {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: 11vw;
  line-height: 9vw;
  opacity: 85%;
}

.error404__subtitle--firstspan { 
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  display: block;
  white-space: nowrap;
  margin-left: -25%;
}

.error404__subtitle--lastspan {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}

.error404__text{
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.ft__main {
  margin-top: 2rem;
  padding: 3rem 0 3rem 0;
  display: flex;
  flex-wrap: wrap;
  background-color:  rgb(255, 70, 70);
  color: whitesmoke;
  line-height: 2;
  font-size: 1.2rem;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.info__column--list {
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
  line-height: 0%;
  letter-spacing: 2px;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.newsletter__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

.newsletter__button {
  margin-top: 1rem;
  padding: 12px 24px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 400;
  border: 2px solid white;
}

footer a {color: whitesmoke;}

a:hover {color: black;}
      


@media only screen and (max-width: 1680px){
  .arquitectureSection__text--description {
    line-height: 1.7rem;
    font-size: 1.7vh;
    padding: 7% 9.5% 5% 6.5%;
  }
  @media only screen and (max-width: 1366px){
    .restaurant{
      display: flex;
      justify-content: center;
      position: relative;
      flex-wrap: wrap; 
      width: 100vw;
    }
    .restaurant__option--img{
      margin: 1rem;
      filter: contrast(60%);
      width: 40vw;
    }
    }
}
